.mobile-menu
    .mobile-menu__content
        .mobile-menu__items
            .mobile-menu__top
                .city-select
                    span Ваш город:
                    a.city-select__link(href="") Санкт-Петербург
            .mobile-menu__item
                a(href=category_link) Новое
            .mobile-menu__item
                a(href=category_link) Бестселлеры
            .mobile-menu__item.mobile-menu-parent 
                a(href=category_link) Одежда
                .submenu
                    .mobile-menu__top
                        .mobile-menu-back
                        a(href=category_link) Одежда
                    .mobile-menu__item
                        a(href=category_link) Блузы и рубашки
                    .mobile-menu__item
                        a(href=category_link) Брюки и шорты
                    .mobile-menu__item
                        a(href=category_link) Верхняя одежда
            .mobile-menu__item.mobile-menu-parent 
                a(href=category_link) Аксессуары
                .submenu
                    .mobile-menu__top
                        .mobile-menu-back
                        a(href=category_link) Аксессуары
            .mobile-menu__item.mobile-menu-parent 
                a(href="") Коллекции
                .submenu
                    .mobile-menu__top
                        .mobile-menu-back
                        a(href="") Коллекции
                    a(href="").collection-link
                        img(src="", alt="")
                        .collection-link__info
                            .collection-link__title Прованс
                            .collection-link__short Весна/Лето 2020
                    a(href="").collection-link
                        img(src="", alt="")
                        .collection-link__info
                            .collection-link__title Настроение города
                            .collection-link__short Осень 2019/Зима 2020
                    a(href="").collection-link
                        img(src="", alt="")
                        .collection-link__info
                            .collection-link__title Лигурия
                            .collection-link__short Весна/Лето 2019
                    a(href="").collection-link
                        img(src="", alt="")
                        .collection-link__info
                            .collection-link__title Ломбардия
                            .collection-link__short Осень 2018/Зима 2019
            .mobile-menu__item
                a(href="") Специальные предложения
            .mobile-menu__item
                a(href="") Lookbook
            .mobile-menu__item.mobile-menu-parent
                a(href="") О нас
                .submenu
                    .mobile-menu__top
                        .mobile-menu-back
                        a(href="") О нас
            .mobile-menu__item.mobile-menu-parent
                a(href="") Помощь
                .submenu
                    .mobile-menu__top
                        .mobile-menu-back
                        a(href="") Помощь
            .mobile-menu__item.mobile-menu-parent
                a(href="") Партнерам
                .submenu
                    .mobile-menu__top
                        .mobile-menu-back
                        a(href="") Партнерам
            //- .mobile-menu__item
            //-     a(href="") Россия

        .socials.socials_light
            a(href="").socials__link.ab-i-yt
            a(href="").socials__link.ab-i-fb
            a(href="").socials__link.ab-i-inst
            a(href="").socials__link.ab-i-vk