extends ./components/_layout.pug
block variables
    - var title = 'Каталог'
    - var mainCls = 'page-catalog-common'

block content
    .page-top.container
        .breadcrumbs
            .breadcrumbs__item
                a(href=home_link) Главная
            .breadcrumbs__item
                span Каталог
        h1.page-top__title.like-h1 Каталог

    .categories-grid-container.container
        .categories-grid
            a(href=category_link).item.item-big
                .item__content
                    .item__title Платья
                    span.item__more.link-detailed Перейти в раздел
                picture.item__image
                    source(media="(max-width: 767px)", srcset="images/catalog/cat-dresses_thumb.png")
                    img(src="images/catalog/cat-dresses.png", alt="")

            a(href=category_link).item
                .item__content
                    .item__title Блузы 
                        br
                        | и рубашки
                    span.item__more
                picture.item__image
                    source(media="(max-width: 767px)", srcset="images/catalog/cat-blouses_thumb.png")
                    img(src="images/catalog/cat-blouses.png", alt="")

            a(href=category_link).item
                .item__content
                    .item__title Джемперы 
                        br
                        | и кардиганы 
                    span.item__more
                picture.item__image
                    source(media="(max-width: 767px)", srcset="images/catalog/cat-jumpers_thumb.png")
                    img(src="images/catalog/cat-jumpers.png", alt="")
            
            a(href=category_link).item
                .item__content
                    .item__title Жакеты 
                        br
                        | и бомберы 
                    span.item__more
                picture.item__image
                    source(media="(max-width: 767px)", srcset="images/catalog/cat-jackets_thumb.png")
                    img(src="images/catalog/cat-jackets.png", alt="")

            a(href=category_link).item.item-high
                .item__content
                    .item__title Юбки
                    span.item__more
                picture.item__image
                    source(media="(max-width: 767px)", srcset="images/catalog/cat-skirts_thumb.png")
                    img(src="images/catalog/cat-skirts.png", alt="")

            a(href=category_link).item
                .item__content
                    .item__title Брюки 
                        br
                        | и шорты 
                    span.item__more
                picture.item__image
                    source(media="(max-width: 767px)", srcset="images/catalog/cat-trousers_thumb.png")
                    img(src="images/catalog/cat-trousers.png", alt="")

            a(href=category_link).item
                .item__content
                    .item__title Верхняя 
                        br
                        | одежда 
                    span.item__more
                picture.item__image
                    source(media="(max-width: 767px)", srcset="images/catalog/cat-tops_thumb.png")
                    img(src="images/catalog/cat-tops.png", alt="")
            
            a(href=category_link).item.item-long
                .item__content
                    .item__title Аксессуары
                    span.item__more
                picture.item__image
                    source(media="(max-width: 767px)", srcset="images/catalog/cat-accessories_thumb.png")
                    img(src="images/catalog/cat-accessories.png", alt="")

    include ./content-blocks/_style-samples.pug

    .product-slider-wrapper.filled-bottom
        .container
            .product-slider-title.like-h2 Новинки

            .product-slider
                - for (var x = 0; x < 5; x++)
                    include ./components/_product-card-full.pug
                .product-slider__navs
                    .arrow.arrow-prev                    
                        include svg/slider-arrow-prev_small.svg
                    .arrow.arrow-next
                        include svg/slider-arrow-next_small.svg
