extends ./components/_layout.pug
block variables
    - var title = 'Товар'
    - var mainCls = 'page-product'

block content

    .page-top.container
        .breadcrumbs
            .breadcrumbs__item
                a(href=home_link) Главная
            .breadcrumbs__item
                a(href=catalog_link) Каталог
            .breadcrumbs__item
                a(href=category_link) Платья
            .breadcrumbs__item
                span Платье «Зазеркалье»

        .next-prev
            a(href="").next-prev__item.prev.with-svg
                include ../svg-min/pagination-prev.svg
                | Предыдущая
            span.det |
            a(href="").next-prev__item.next.with-svg
                | Следующая
                include ../svg-min/pagination-next.svg
    
    .product
        .container
            .row
                .product-photo.col-xl-6
                    .product-photo-slider
                        .slide
                            img(src="images/dev/prod_full_1.jpg", alt="")
                        .slide
                            img(src="images/dev/prod_full_2.jpg", alt="")
                        .slide
                            img(src="images/dev/prod_full_1.jpg", alt="")
                        .slide
                            img(src="images/dev/prod_full_2.jpg", alt="")

                    .slider-nav
                        .slider-nav__dots

                .product-right.col-xl-6
                    .product-info
                        .product-info__top
                            .product-info__article Арт. 12365478
                            a(href="").share.with-svg
                                include ../svg-min/share.svg
                                | Поделиться
                            
                        h1.like-h1 Платье «Зазеркалье» в две строки
                        
                        .price-row
                            .price
                                span 14 000 ₽
                                span.old 17 600 ₽
                                
                            .stock-status.in-stock В наличии
                            //
                                .stock-status.out-of-stock Нет в наличии
                                .stock-status.low-stock Товар заканчивается
                        
                        .choise-size
                            .choise-size__top
                                | Выберите размер
                                a(href="").choise-size__helper Какой у меня размер?
                        

                            .choise-size__list
                                .choise-size__item
                                    input#size40(type="radio", name="size")
                                    label(for="size40") 40
                                .choise-size__item
                                    input#size42(type="radio", name="size")
                                    label(for="size42") 42
                                .choise-size__item
                                    input#size44(type="radio", name="size")
                                    label(for="size44") 44
                                .choise-size__item
                                    input#size46(type="radio", name="size", disabled)
                                    label(for="size46") 46

                        .buttons
                            a(href=cart_link).button.button_blue-filled Добавить в корзину
                            // a(href="javascript:;", data-fancybox, data-src="#arrival-notify").button.button_blue-filled Узнать о поступлении
                            a(href="").add-to-wishlist.with-svg
                                include ../svg-min/add-to-wishlist.svg
                                span Добавить в избранное
                            // class=active, если добавлено
                            a(href="javascript:;", data-fancybox, data-src="#check-stock").check-stock.with-svg
                                include ../svg-min/map-point.svg
                                span Узнать о наличии товара в магазине
                        
                        .description
                            p Любая девушка трепетно и воодушевленно относится к выбору наряда для выхода в свет. Важно продемонстрировать свою красоту и ослепить всех неповторимым нарядом. Платье с сеткой никого не оставляет равнодушным  –  модель формирует образ с лёгкой  размытостью границ, что придаёт ему загадки и притягательности. С платьем «Звон фиалки» девушка – всегда в центре внимания, взглядов, обсуждений.

                        .properties
                            .properties__row
                                .properties__name Состав изделия
                                .properties__value 18% шелк, 18% хлопок 32% вискоза, 32% полиэстер
                            .properties__row
                                .properties__name Уход за изделием
                                #properties-icons.properties-icons
                                    .properties-icons__items
                                        .icon.no-drying(v-on:mouseover="tooltip='Не использовать машинную сушку'" v-on:mouseleave="tooltip=''")
                                        .icon.temp-30(v-on:mouseover="tooltip='Стирать при температуре не выше 30°C'" v-on:mouseleave="tooltip=''")
                                        .icon.no-bleaching(v-on:mouseover="tooltip='Не отбеливать'" v-on:mouseleave="tooltip=''")
                                        .icon.no-iron(v-on:mouseover="tooltip='Не гладить'" v-on:mouseleave="tooltip=''")
                                        .icon.no-dry-cleaning(v-on:mouseover="tooltip='Не использовать химчистку'" v-on:mouseleave="tooltip=''")
                                    .tooltip {{ tooltip }}

                    .advantages
                        .advantages__item
                            .advantages__img
                                include ../svg-min/prod-adv-1.svg
                            .advantages__content
                                .advantages__title Бесплатная доставка по России
                                | У вас всегда есть возможность получить бесплатную доставку для заказов от 20 000 ₽
                        .advantages__item
                            .advantages__img
                                include ../svg-min/prod-adv-2.svg
                            .advantages__content
                                .advantages__title Примерка
                                | Примеряйте и оплачивайте только подходящие товары. Вы можете примерить вещи перед покупкой и взять лишь те, которые вам подошли
                        .advantages__item
                            .advantages__img
                                include ../svg-min/prod-adv-3.svg
                            .advantages__content
                                .advantages__title Безопасность
                                | Безопасность платежей гарантируется использованием SSL протокола. Данные вашей банковской карты надежно защищены при оплате онлайн


    .product-slider-wrapper.additional-slider.filled-bottom
        .container
            .product-slider-title.like-h2 Дополните образ
            .product-slider
                - for (var x = 0; x < 5; x++)
                    include ./components/_product-card-full.pug
                .product-slider__navs
                    .arrow.arrow-prev                    
                        include ../svg-min/slider-arrow-prev_small.svg
                    .arrow.arrow-next
                        include ../svg-min/slider-arrow-next_small.svg
    
    .product-slider-wrapper.uwatched-slider
        .container
            .product-slider-title.like-h2 Вы смотрели
            .product-slider
                - for (var x = 0; x < 5; x++)
                    include ./components/_product-card_small.pug
                .product-slider__navs
                    .arrow.arrow-prev                    
                        include ../svg-min/slider-arrow-prev_small.svg
                    .arrow.arrow-next
                        include ../svg-min/slider-arrow-next_small.svg

    .page-bottom-info.container
        p 
            | Любую вещь из каталога интернет-магазина alexanderbogdanov.com всегда можно заказать с бесплатной доставкой по всей России и примерить перед оплатой. Это позволяет быть уверенной в том, что модель идеально подойдет. Курьер может доставить несколько моделей на выбор, а покупательница заплатить только за те, которые идеально подойдут.
            br
            | Оплатить покупки из интернет-магазина alexanderbogdanov.com можно любым удобным способом: наличными курьеру после примерки, банковской картой прямо на сайте, а также наложенным платежом. У каждого курьера в наличии мобильный терминал для оплаты по карте прямо у вас дома, после примерки. Интернет-магазин alexanderbogdanov.com очень внимательно относится к удовлетворенности своих клиентов. Поэтому товар, который был куплен, но не подошел можно вернуть в течение 14 дней после покупки.


    #arrival-notify.modal
        .modal-title Оповещение
        form.form(action="")
            p Введите адрес вашей электронной поты, и мы оповестим вас, когда товар снова поступит в продажу

            .input-item
                input(type="email").input
                label Email

            button.form__button.button.button_blue-filled Получить оповещение

            .form__privacy Отправляя данные формы, вы принимаете 
                a(href="").link Условия пользовательского соглашения
    

    #check-stock.m-check-stock.modal
        .m-check-stock__search
            .m-check-stock__product-info
                include ./components/_product-card_stock.pug

            .m-check-stock__search-right
                .modal-title Узнать о наличии товара в магазине
                form.form(action="")
                    p Введите почтовый индекс или город, чтобы узнать, есть ли он в наличии в магазине
                    .input-item    
                        autocomplete(:search="search", :get-result-value="getResultValue", :debounce-time="100", placeholder="Введите город", aria-label="Введите город", base-class="search-autocomplete", @submit="handleSubmit")

                    button.form__button.button.button_blue-filled Показать наличие

        .m-check-stock__select.hidden
            .m-check-stock__back
                .back__arrow.with-svg 
                    include ../svg-min/back-arrow-checkStock.svg
                    | Вернуться назад
            .m-check-stock__select-grid
                .m-check-stock__shops
                    .m-check-stock__shops-content
                        .item
                            a(href="").item__title.link Магазин «BGD-Bogdanov», ТРЦ «Ладья» м. Митино, ул. Дубравная, 34/29
                            .choise-size
                                .choise-size__top Доступные размеры:
                                .choise-size__list
                                    .choise-size__item
                                        input#s1-size40(type="radio", name="size")
                                        label(for="size40") 40
                                    .choise-size__item
                                        input#s1-size42(type="radio", name="size")
                                        label(for="size42") 42
                                    .choise-size__item
                                        input#s1-size44(type="radio", name="size")
                                        label(for="size44") 44
                                    .choise-size__item
                                        input#s1-size46(type="radio", name="size")
                                        label(for="size46") 46
                        .item
                            a(href="").item__title.link Магазин «BGD-Bogdanov», ТРЦ «Ладья» м. Митино, ул. Дубравная, 34/29
                            .choise-size
                                .choise-size__top Доступные размеры:
                                .choise-size__list
                                    .choise-size__item
                                        input#s1-size40(type="radio", name="size")
                                        label(for="size40") 40
                                    .choise-size__item
                                        input#s1-size42(type="radio", name="size")
                                        label(for="size42") 42
                                    .choise-size__item
                                        input#s1-size44(type="radio", name="size")
                                        label(for="size44") 44
                                    .choise-size__item
                                        input#s1-size46(type="radio", name="size")
                                        label(for="size46") 46
                        .item
                            a(href="").item__title.link Магазин «BGD-Bogdanov», ТРЦ «Ладья» м. Митино, ул. Дубравная, 34/29
                            .choise-size
                                .choise-size__top Доступные размеры:
                                .choise-size__list
                                    .choise-size__item
                                        input#s1-size40(type="radio", name="size")
                                        label(for="size40") 40
                                    .choise-size__item
                                        input#s1-size42(type="radio", name="size")
                                        label(for="size42") 42
                                    .choise-size__item
                                        input#s1-size44(type="radio", name="size")
                                        label(for="size44") 44
                                    .choise-size__item
                                        input#s1-size46(type="radio", name="size")
                                        label(for="size46") 46
                        .item
                            a(href="").item__title.link Магазин «BGD-Bogdanov», ТРЦ «Ладья» м. Митино, ул. Дубравная, 34/29
                            .choise-size
                                .choise-size__top Доступные размеры:
                                .choise-size__list
                                    .choise-size__item
                                        input#s1-size40(type="radio", name="size")
                                        label(for="size40") 40
                                    .choise-size__item
                                        input#s1-size42(type="radio", name="size")
                                        label(for="size42") 42
                                    .choise-size__item
                                        input#s1-size44(type="radio", name="size")
                                        label(for="size44") 44
                                    .choise-size__item
                                        input#s1-size46(type="radio", name="size")
                                        label(for="size46") 46

                .m-check-stock__map
                    | map